pkgbase = alias-manager
	pkgdesc = A lightweight CLI tool to manage your shell aliases efficiently
	pkgver = 2.1.0
	pkgrel = 1
	url = https://github.com/kazetachinuu/alias_manager
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	license = MIT
	makedepends = gcc
	makedepends = make
	depends = glibc
	source = alias-manager-2.1.0.tar.gz::https://github.com/kazetachinuu/alias_manager/archive/v2.1.0.tar.gz
	sha256sums = 9a1efb28ed1972c117aa855e932b7b12b70263a1a996d1f6c2e71ca4033a40e8

pkgname = alias-manager
